body {
    padding: 5%;
}

.background {
    background-color: lightyellow;
    padding: 2%;
}

.intro {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-bottom: 10%;
}

.phone {
    font-weight: bold;
    text-align: center;
}

.email {
    font-weight: bold;
    text-align: center;
}

h3 {
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-align: center;
    font-size: 40px;
}